.work__contact {
    padding-top: 0;
    max-width: 73rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;

    h2 {
        margin-bottom: 2rem;
    }

    p {
        opacity: .7;
        margin-bottom: 4rem;
    }

    a {
        font-weight: 600;
    }
}