.product__about {
    padding-bottom: 7.2rem;

    &__content {
        h3 {
            margin-bottom: 1.2rem;
        }

        p {
            opacity: .7;
            margin-bottom: 2.4rem;
        }

        ul {
            list-style: circle;
        }
    }

    &__img {
        margin: 6.4rem 0;
        padding: 5rem;
        background: linear-gradient(131.34deg, #F4EDE1 16.74%, #98B1C6 103.17%);
    }
}