.blog__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;

    img {
        aspect-ratio: 1.42;
        margin-bottom: 4rem;
    }

    &__item {
        &__content {
            display: grid;
            gap: 1.6rem;
            margin-bottom: 3.2rem;

            p {
                opacity: .7;
            }
        }
    }
}

@media screen and (max-width:850px) {
    .blog__card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:550px) {
    .blog__card {
        grid-template-columns: repeat(1, 1fr);
    }
}