@use "../../sass//index" as *;

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    color: #fff;
    background-color: $tint-blue;
    padding: 1.6rem 0;
    z-index: 999;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo a {
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__navbar {
        display: flex;
        align-items: center;
        column-gap: 3.2rem;

        &__item {
            a {
                color: #BBBBCB;
                font-size: 1.6rem;

                &:hover {
                    color: #fff;
                }

            }

            &:last-child {
                a {
                    color: #fff;
                    padding: 1.6rem 4.8rem;
                    border: 2px solid rgba(244, 246, 252, 0.2);
                    border-radius: 41px;

                    &:hover {
                        background-color: #fff;
                        color: $dark-blue;
                    }
                }

                .active {
                    background: #fff;
                    color: $dark-blue ;
                }
            }
        }

        .active {
            color: #fff;
        }
    }

    .menu__toggle {
        display: none;
    }

    .toggle {
        display: block !important;
    }
}

@media screen and (max-width:950px) {
    nav {
        display: none;
        position: absolute;
        background-color: $tint-blue;
        width: 100%;
        top: 100%;
        left: 0;
        padding-bottom: 4rem;

        ul {
            flex-direction: column;
            row-gap: 3rem;

        }
    }

    .menu__toggle {
        display: block !important;
    }
}